%table.doc-loader
  %tr
    %td
      = image_tag("ajax-document-loader.gif", alt: "Loading..")

/ Menu
.menu-wrapper.center-relative
  %nav#header-main-menu
    .mob-menu MENU
    %ul.main-menu.sm.sm-clean
      %li
        %a{:href => "#home"} Home
      %li
        %a{:href => "#services"} Stack
      %li
        %a{:href => "#portfolio"} Work
      %li
        %a{:href => "#about"} Why
      %li
        %a{:href => "#news"} Stories
      -#%li
        %a{:href => "#video"} Video
      -#%li
        %a{:href => "#skills"} Skills
      %li
        %a{:href => "#contact"} Contact

/ Home
#home.section.intro-page
  .block.content-1170.center-relative.center-text
    = image_tag("altura_logo.svg", class: "top-logo", alt: "Altura Soluciones")
    %br
    %h1.big-title
      Aiming to new heights
    %p.title-desc Creating incredible tech solutions with React.js and React Native

/ Stack
#services.section
  .block.content-1170.center-relative
    .section-title-holder.left
      .section-num
        %span 01
      %h2.entry-title Stack
    .section-content-holder.right
      .content-wrapper
        :javascript
          var slider1_speed = "500";
          var slider1_auto = "false";
          var slider1_hover = "true";

        .image-slider-wrapper.relative.service.slider1
          %a#slider1_next.image_slider_next{:href => "#", :alt => "See more"}
          %ul#slider1.image-slider.slides
            %li.sticky-container
              %a.image_slider_next.sticky{:href => "#", :alt => "See more"}
                %span
              .service-holder
                .service-content-holder
                  .service-title REACT
                  .service-content
                    = image_tag("react.svg", alt: "React experts", align: "left")
                    Open-source JavaScript library used for building user interfaces specifically for single page applications. It allows us to create reusable UI components and large web applications which can change data, without reloading the page. React is fast, scalable, and simple.
                    %br/
              .service-holder
                .service-content-holder
                  .service-title REACT NATIVE
                  .service-content
                    = image_tag("react-native.svg", alt: "React Native too", align: "left")
                    React Native lets us build native mobile apps using only JavaScript. It uses the same design as React, letting us to compose a rich mobile UI from declarative components. Fast development cycle reloading changes on real time without need for recompiling.
                    %br/
              .service-holder
                .service-content-holder
                  .service-title REDUX
                  .service-content
                    = image_tag("redux.svg", alt: "", align: "left")
                    Redux is a predictable state container for JavaScript apps. It helps us manage apps data and respond to user actions consistently, run in different environments (client, server, and native), and are easy to test.
                    %br/
              .service-holder
                .service-content-holder
                  .service-title JEST
                  .service-content
                    = image_tag("jest.svg", alt: "", align: "left")
                    De facto unit testing framework for ReactJS projects. Provides and integrated experience with easy setup working out of the box with React. Simplifies testing allowing to analyze how state data change over time.
                    %br/
            %li
              %a.image_slider_next{:href => "#", :alt => "See more"}
                %span
              .service-holder
                .service-content-holder
                  .service-title RAILS
                  .service-content
                    = image_tag("rails.svg", alt: "", align: "left")
                    Fast, flexible and reliable framework to build MVC webapps and standard API backend solutions. Rails allow us to develop MVPs (Minimum Viable Products) in a cost effective way fulfilling our clients needs in the shortest time possible.
                    %br/
              .service-holder
                .service-content-holder
                  .service-title DevOps
                  .service-content
                    = image_tag("devops.svg", alt: "", align: "left")
                    We use DevOps best practices to guarantee continuous software  and faster features delivery, faster resolution of problems, increase the productivity of our team, improve communication and collaboration and ensure the client engagement on the project.
                    %br/
              .service-holder
                .service-content-holder
                  .service-title LEAN
                  .service-content
                    = image_tag("lean.svg", alt: "", align: "left")
                    "...Lean means creating more value for customers with fewer resources." We understand customer values and focus our key processes to continuously increase it, satisfying it's needs and engaging the client as part of our development cycle.
                    %br/
              .service-holder
                .service-content-holder
                  .service-title TDD
                  .service-content
                    = image_tag("tdd.svg", alt: "", align: "left")
                    We validate our code with Test Driven Development, focusing on smaller chunks of functionality which guarantees that the new implemented code passes all tests keeping the base code stable despite of changes and decreasing bugs introduced.
                    %br/
          .clear
    .clear

/ Portfolio
#portfolio.section
  .block.content-1170.center-relative
    .section-title-holder.right
      .section-num
        %span 02
      %h2.entry-title Work
    .section-content-holder.portfolio-holder.left
      #portfolio-grid.grid
        .grid-sizer
        / .grid-item.element-item.p_one
        /   -# TODO add pages for single portfolio items
        /   %a{:href => "single-portfolio.html"}
        /     = image_tag("demo-images/portfolio_item_01.jpg", alt: "")
        /     .portfolio-text-holder
        /       .portfolio-text-wrapper
        /         %p.portfolio-type
        /           = image_tag("icon_post.svg", alt: "")
        /         %p.portfolio-text PSD MOCKUP
        /         %p.portfolio-sec-text Smart Watch
        .grid-item.element-item.p_one_half
          %a
            = image_tag("clients/logo_client_1.png", alt: "")
            .portfolio-text-holder
              .portfolio-text-wrapper
                / %p.portfolio-type
                /   = image_tag("icon_post.svg", alt: "")
                %p.portfolio-text RingeRx
                %p.portfolio-sec-text Smart Watch
        .grid-item.element-item.p_one_half
          %a
            = image_tag("clients/logo_client_2.png", alt: "")
            .portfolio-text-holder
              .portfolio-text-wrapper
                / %p.portfolio-type
                /   = image_tag("icon_post.svg", alt: "")
                %p.portfolio-text PSD MOCKUP
                %p.portfolio-sec-text Smart Watch

        .grid-item.element-item.p_one_half
          %a
            = image_tag("clients/logo_client_3.png", alt: "")
            .portfolio-text-holder
              .portfolio-text-wrapper
                / %p.portfolio-type
                /   = image_tag("icon_post.svg", alt: "")
                %p.portfolio-text PSD MOCKUP
                %p.portfolio-sec-text Smart Watch

        .grid-item.element-item.p_one_half
          %a
            = image_tag("clients/logo_client_4.png", alt: "")
            .portfolio-text-holder
              .portfolio-text-wrapper
                / %p.portfolio-type
                /   = image_tag("icon_post.svg", alt: "")
                %p.portfolio-text PSD MOCKUP
                %p.portfolio-sec-text Smart Watch
        

        / .grid-item.element-item.p_one
        /   -# TODO add pages for single portfolio images
        /   %a{"data-rel" => "prettyPhoto[gallery1]", :href => "demo-images/portfolio_item_05.jpg"}
        /     = image_tag("demo-images/portfolio_item_05.jpg", alt: "")
        /     .portfolio-text-holder
        /       .portfolio-text-wrapper
        /         %p.portfolio-type
        /           = image_tag("icon_post.svg", alt: "")
        /         %p.portfolio-text PSD MOCKUP
        /         %p.portfolio-sec-text Smart Watch
      .clear
      -# TODO implement functionality to load more items of the portfolio
      -#.block.portfolio-load-more-holder
        -#%a.more-posts{:target => "_self"} LOAD MORE
        -#= image_tag("icon_infinity.svg", alt: "")
    .clear
  .clear

/ About
#about.section
  .block.content-1170.center-relative
    .section-title-holder.left
      .section-num
        %span 02
      %h2.entry-title WHY
    .section-content-holder.right
      .content-wrapper
        .content-title-holder
          %p.content-title WHY?
        .one_half
          We are a passionate and innovative team that loves to develop new high quality products using modern technologies and
          %strong help other to create value
          through their ideas, projects or startups.
        .one_half.last
          We specialize in building
          %strong
            web and mobile applications
          that fit with the business needs, following
          %strong
            Lean principles and the best Agile practices
            to add value to our clients.
        .clear
        %br/
        %br/
      .full-width
        :javascript
          var aboutImage_speed = "500";
          var aboutImage_auto = "false";
          var aboutImage_hover = "true";
        .image-slider-wrapper.relative.img.aboutImage
          -#%a#aboutImage_next.image_slider_next{:href => "#"}
          .caroufredsel_wrapper
            %ul#aboutImage.image-slider.slides
              %li
                = image_tag("collaboration_altura.png", alt: "")
              -#%li
              -#  = image_tag("demo-images/about_img_05.jpg", alt: "")
              -#%li
              -#  = image_tag("demo-images/about_img_06.jpg", alt: "")
          .clear
        :javascript
          var team1_speed = "500";
          var team1_auto = "false";
          var team1_hover = "true";
        .image-slider-wrapper.relative.team.team1
          %a#team1_next.image_slider_next{:href => "#"}
          .caroufredsel_wrapper
            %ul#team1.image-slider.slides
              %li
                .member-content-holder
                  %h4.member-name David Meza
                  %p.member-position CEO
                  .member-content
                    Creative thinker, expert in technology and business development. I help startups to better validate hypothesis, build their business model and strategy. Software consultant and remote agile development specialist.
                    %br/
                .member-image-holder
                  = image_tag("profiles/david_meza.png", alt: "David Meza")
                .clear
              %li
                .member-content-holder
                  %h4.member-name Gustavo González
                  %p.member-position CTO
                  .member-content
                    25+ plus years in software development. I love to learn new techonlogies and share knowledge with others. Software consultant and remote agile development specialist.
                    %br/
                .member-image-holder
                  = image_tag("profiles/gustavo_gonzalez.png", alt: "Gustavo González")
                .clear
              %li
                .member-content-holder
                  %h4.member-name Alberto Aragón
                  %p.member-position
                    Fullstack & DevOps
                  .member-content
                    Fullstack web and mobile developer with 9+ years of experience. I love React, VueJS, and Rails. DevOps engineer with experience in Continuos Deployment and Continuos Integration.
                    %br/
                .member-image-holder
                  = image_tag("profiles/alberto_aragon.png", alt: "Alberto Aragón")
                .clear
              %li
                .member-content-holder
                  %h4.member-name Milber Champutiz
                  %p.member-position Senior Fullstack Developer
                  .member-content
                    With more than 15 years in the world of software development. I like to program, regardless of the language, and the agile development
                    of software. I love sports,  soccer, cycling, F1, and hiking. que vuelta mariconson
                    %br/
                .member-image-holder
                  = image_tag("profiles/milber.png", alt: "Milber Champutiz")
                .clear
              %li
                .member-content-holder
                  %h4.member-name Miguel Torres
                  %p.member-position Project Manager & Fullstack developer
                  .member-content
                    60% geek, 30% amateur musician & 10% coffee lover. Passionate about learning new things
                    %br/
                .member-image-holder
                  = image_tag("profiles/migue.png", alt: "Miguel Torres")
                .clear
              %li
                .member-content-holder
                  %h4.member-name Hiran Del Castillo Rodríguez
                  %p.member-position Senior Fullstack Developer
                  .member-content
                    System Engineer with more than 10 years of experience developing software. MEAN Stack Specialist.
                    %br/
                .member-image-holder
                  = image_tag("profiles/hiran.png", alt: "Hiran del Castillo")
                .clear
          .clear
      / end full-width div
    .clear

/ News
#news.section
  .block.content-1170.center-relative
    .section-title-holder.right
      .section-num
        %span
          03
      %h2.entry-title STORIES
    .section-content-holder.left
      .content-wrapper
        .blog-holder.block.center-relative
          - medium_news.each_with_index do |article, index|
            %article.relative.blog-item-holder.center-relative
              .num
                = "0#{index+1}"
              .info
                .author.vcard
                  = article[:creator]
              %h3.entry-title
                %a{href: article[:link], target: "_blank"}
                  = article[:title]
                .clear

          -#%article.relative.blog-item-holder.center-relative
          -#  .num 01
          -#  .info
          -#    .author.vcard Robert Williams
          -#    .cat-links
          -#      %ul
          -#        %li
          -#          %a{:href => "#"} BRANDING
          -#  %h3.entry-title
          -#    %a{:href => "#"} Eiusmod tempor incididunt ut dolore magna labore eiusmod ipsum dolor
          -#  .clear
          .latest-post-bottom-text
            %a{href: "https://medium.com/alturasoluciones", target: "_blank"} GO TO BLOG
    .clear
  .block.content-1170.center-relative
    .extra-content-left
      
      :javascript
        var text1_speed = "500";
        var text1_auto = "false";
        var text1_hover = "true";
      .text1.testimonial-slider-holder.slider-holder
        %h2.entry-title
          TESTIMONIALS
        .caroufredsel_wrapper
          %ul#text1.slides.testimonial
            %li
              .testimonial-content
                %p.testimonial-text
                  Hiring Altura Soluciones was one of the best decisions that I made when starting my company. They help me to build a high quality
                  product according to the highest development standards. Every great company should have partners as Altura Soluciones that help them to
                  achieve success.
                %p.testimonial-author
                  DOUG PARENT - RingRx.com
                  %br
                  (Web Development, Mobile Development, DevOps)
              .clear
            %li{:style => "width: 500px;"}
              .testimonial-content
                %p.testimonial-text
                  Holderness & Bourne is very pleased with Altura Soluciones' work. Our web site required a group of specific new features and fixes
                  on the frontend that they handle with professionalism. The team was very receptive and helpful during the hole process. We are eager
                  to collaborate together in the future.
                %p.testimonial-author
                  ALEX HOLDERNESS - Holderness & Bourne
              .clear
            %li
              .testimonial-content
                %p.testimonial-text
                  We believe that the work of Altura Soluciones is being essential for FCR's organization performance. You give us instant feedback with
                  very didactic and easy to follow instructions on how to use the systems and applications that you develop for us.
                %p.testimonial-author
                  BELEN PERDOMO - Cecilia Rivadeneira Fundation(FCR)
                  %b Community Involvement
              .clear
        %a#text1_next.carousel_text_next{:href => "#"}
        .clear

-# TODO Video Section
-# TODO Process Section
-# TODO Expertise Section


/ Contact
#contact.section
  .block.content-1170.center-relative
    .section-title-holder.left
      .section-num
        %span
          -# TODO Change back to 07 when adding the other sections
          04
      %h2.entry-title Contact
    .section-content-holder.right
      .content-wrapper
        .one_half
          %p
            We are passionate about collaborating on new and exciting project using modern technologies to guarantee a high quality product and to
            provide value to our customers.
          %br/
          %p
            If you want to collaborate,
            %strong
              %span{:style => "color: #e64b77;"} contact us and get a free analysis of your business idea and a three day demo.
        .one_half.last
          .contact-form
            %p
              %input#name{:name => "name", :placeholder => "Name", :type => "text"}/
            %p
              %input#contact-email{:name => "email", :placeholder => "Email", :type => "email"}/
            %p
              %input#subject{:name => "subject", :placeholder => "Subject", :type => "text"}/
            %p
              %textarea#message{:name => "message", :placeholder => "Message"}
            %p
              %input{:onclick => "SendMail()", :type => "submit", :value => "SEND"}/
        .clear
      -# TODO Map or not?
      .full-width
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1293.5315359758654!2d-78.48246394076703!3d-0.18872859843334433!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sec!4v1524682645584", :style => "border:0", :width => "600"}
    .clear

/ Footer
%footer
  .footer.content-1170.center-relative
    %ul
      %li.copyright-footer
        © 2018 All rights reserved
        %a{href: "https://www.alturasoluciones.com", :target => "_blank"} | Altura Soluciones
      %li.social-footer
        %a{href: "https://twitter.com/AlturaSolucion", target: "_blank"}
          %span.fa.fa-twitter
        %a{href: "https://medium.com/alturasoluciones", target: "_blank"}
          %span.fa.fa-medium
